<form [formGroup]="forgotForm" (ngSubmit)="sendOtp()">
    <label>Email <span class="text-danger">*</span></label>
    <input type="email" formControlName="email" class="form-control" placeholder="Enter your email" />
    <button type="submit" class="btn btn-success mt-3">Send OTP</button>
  </form>
  
  <div *ngIf="otpSent">
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <label>OTP</label>
      <input type="text" formControlName="otp" class="form-control" />
      <label>New Password</label>
      <input type="password" formControlName="newPassword" class="form-control" />
      <button type="submit" class="btn btn-success mt-3">Reset Password</button>
    </form>
    <div *ngIf="successMessage" class="alert alert-success mt-3 text-center">
      {{ successMessage }}
    </div>
    
    <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
      {{ errorMessage }}
    </div>
  </div>
  